.movieContainer {
  display: flex;
}
.movieLogo img {
  height: 300px;
}
.movieInfo {
  text-align: center;
}
.movieTitle {
  border-bottom: 1px solid white;
}
.mainInfo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}
.infoField {
  display: flex;
  justify-content: space-between;
}
.movieDescription {
  border-bottom: 1px solid white;
}


