.moviesContainer {
  box-sizing: border-box;
  /* max-width: 90%; */
  /* margin: auto; */
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "title sort sort "
    "movieList movieList movieList"
    "pagination pagination pagination";
}
.movieTitle {
  font-size: 30px;
  grid-area: title;
  margin-left: 20%;
}
.sortList {
  display: flex;
  grid-area: sort;
}
.selectItems {
  color: white;
  background-color: #131828;
  border-radius: 5px;
  min-width: 50px;
  max-height: 40px;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin-right: 30px;
  /* margin-top: 5px; */
}
.movieList {
  grid-area: movieList;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  /* column-gap: 70px; */
}
Pagination {
  grid-area: pagination;
}
