.paginationList {
  display: flex;
  column-gap: 10px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}
.paginationItem {
  border: none;
  min-width: 40px;
  min-height: 40px;
  color: black;
  font-size: 20px;
}
.paginationItem:focus {
  border: 3px solid gold;
}
.paginationItem:hover {
  border: 1px solid blue;
}
