* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #131828;
}
#root {
  height: 100%;
}
