.movieCreatingForm {
    margin: 20px 0 0 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.inputField {
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.inputField label {
    width: 80px;
}
.actorsList,
.genresList
{
    min-width: 200px;
    min-height: 50px;
    color: black;
}
.actorsList option,
.genresList option{
    color: white;
    font-size: 20px;
    background-color: #576080;
    border: 2px solid #888888;
    padding: 3px;
}
.fieldTitle,
.fieldDuration,
.fieldImageUrl,
.fieldDescription {
    height: 30px;
    min-width: 200px;
    background-color: #576080;
    border: 2px solid #888888;
    color: white;
    font-size: 15px;
    padding: 5px;
}
.addMovie {
    width: 200px;
    padding: 3px;
    font-size: 20px;
    background-color: #576080;
    border: 2px solid #888888;
    color: white;
}
.ageRestriction {
    min-width: 50px;
    min-height: 40px;
    background-color: #576080;
    border: 2px solid #888888;
    color: white;
    font-size: 17px;
}
.ageRestriction option {
    background-color: #576080;
    border: 2px solid #888888;
    color: white;
    font-size: 17px;
}