.movieItemContainer {
  display: flex;
  column-gap: 10px;
}
.movieImage {
  width: 230px;
  height: 350px;
}
.movieTitle {
  text-align: center;
}
.movieLink {
  dispalay: block;
  height: 100%;
  list-style: none;
}
.deleteButton {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: #cb4747;
  border: none;
}